html,
body,
#root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  min-width: 320px;
  font-size: 16px;
}

// 清除浮动
.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
}

.ant-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 8px 10px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(0, 0, 0, .65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s
}

.ant-input::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1
}

.ant-input:-ms-input-placeholder {
  color: #bfbfbf
}

.ant-input::-webkit-input-placeholder {
  color: #bfbfbf
}

.ant-input:focus,
.ant-input:hover {
  border-color: #294A66;
}

.ant-input:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(41, 74, 102, .2);
  box-shadow: 0 0 0 2px rgba(41, 74, 102, .2);
}

textarea.ant-input {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -webkit-transition: all .3s, height 0s;
  transition: all .3s, height 0s;
  // min-height: 32px;
}

.ant-btn {
  line-height: 1.2;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 14px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  position: relative;
  color: rgba(0, 0, 0, .65);
  background-color: #fff;
  border-color: #d9d9d9;
  &:hover {
    border-color: #294A66;
  }
}

.ant-btn > .anticon {
  line-height: 1
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus {
  outline: 0
}

.ant-btn:not([disabled]):hover {
  text-decoration: none
}

.ant-btn:not([disabled]):active {
  outline: 0;
  -webkit-transition: none;
  transition: none
}

.ant-btn.disabled,
.ant-btn[disabled] {
  cursor: not-allowed
}

.ant-btn.disabled>*,
.ant-btn[disabled]>* {
  pointer-events: none
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .icon {
    vertical-align: -1px;
  }
  .ant-input, .ant-btn {
    height: 28px;
  }
}