{
  "presets": [["env", { 
    "modules": false,       
    "targets": {
      "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
    },
    "useBuiltIns": true 
  }], "react"],
  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    ["import", {
      "libraryName": "antd"
    }],
    "react-hot-loader/babel",
    "transform-async-to-generator",
    "syntax-dynamic-import"

  ]
}