@import '../../common/px2rem.scss';
.message-board-wrap {
  max-width: 768px;
  margin: px2rem(10px) auto;
  background-color: #f6f6f6;
  & > h2 {
    border-bottom: 2px solid #e7e9ee;
    height: 36px;
    margin: 0 px2rem(8px);
    padding-top: px2rem(2px);
    .commens-title {
      text-decoration: none;
      color: #2a2e2e;
      font-size: 16px;
      padding: 0 px2rem(3px);
      font-weight: 700;
      line-height: 36px;
      display: inline-block;
      border-bottom: 2px solid #288ce4;
      position: relative;
    }
  }
}
@media screen and (max-width: 768px) {
  .message-board-wrap {
    margin: px2rem(10px);
    & > h2 {
      .commens-title {
        font-size: 15px;
      }
    }
  }
}