@import '../../common/px2rem.scss';

.header-wrap {
  border-bottom: 1px solid rgba(26,26,26,.06);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
  // box-shadow: 0 1px 3px 0 rgba(23,81,153,.05);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.03);
  .header {
    max-width: 768px;
    min-width: 320px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    .logo {
      background: #fff;
      z-index: 1;
      padding: 10px 0;
      display: block;
      & > img {
        height: 100%;
        position: relative;
        top: -2px;
      }
    }
    .space {
      flex: 1;
      background-color: #fff;
      z-index: 1;
    }
    .toggle-menu {
      background-color: #fff;
      z-index: 1;
    }
    .header-nav {
      user-select: none;
      & > li {
        & > a {
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}

@keyframes showMenu {
  from {
    background-color: transparent;
    transform: translateY(-212px);
  }
  to {
    background-color: rgba(0, 0, 0, .75);
    transform: translateY(-1px);
  }
}

@keyframes hideMenu {
  form {
    background-color: rgba(0, 0, 0, .75);
    transform: translateY(-1px);
  }
  to {
    background-color: transparent;
    transform: translateY(-212px);
    visibility: hidden;
  }
}
@media screen and (min-width: 768px) {
  .header-wrap {
    .header {
      .logo {
        padding-left: 40px;
      }
      .toggle-menu {
        display: none;
      }
      .header-nav {
        padding: 20px 0;
        display: flex;
        flex-wrap: nowrap;
        & > li {
          position: relative;
          line-height: 20px;
          margin-right: 15px;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            width: 0;
            height: 100%;
            border-bottom: 2px solid #005792;
            transition: 0.2s all linear;
          }
          &:hover::before {
            width: 100%;
            top: 0;
            left: 0;
            transition-delay: 0.1s;
            border-bottom-color: #005792;
            z-index: -1;
          }
          &:hover ~ li::before {
            left: 0;
          }
          & > a {
            color: #888;
            transition: color .3s;
            &:hover {
              color: #005792;
            }
            &.active {
              font-weight: bold;
              color: #00204A;
            }
          }
        }
        .iconfont {
          margin-right: 2px;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .header-wrap {
    .header {
      .logo {
        padding-left: px2rem(24px);
      }
      .toggle-menu {
        height: 60px;
        width: 60px;
        padding: 29px 20px;
        box-sizing: border-box;
        transition: .3s transform linear;
        cursor: pointer;
        display: block;
        .menu-icon {
          width: 100%;
          height: 100%;
          background: #333;
          display: block;
          position: relative;
          opacity: 1;
          transition: .3s opacity ease, .3s background-color ease;
          &.active {
            background: #fff;
            &::before {
              transform: translate(0px, 6px) rotate(-45deg);
              transition: transform 0.3s ease 0s;
            }
            &::after {
              transform: translate(0px, -6px) rotate(45deg);
              transition: transform 0.3s ease 0s;
            }
          }
          &::before, &::after {
            transition: .3s transform linear;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #333;
            left: 0;
          }
          &::before {
            top: -6px;
            transform-origin: center center 0;
          }
          &::after {
            bottom: -6px;
            transform-origin: center center 0;
          }
        }
      }
      .header-nav {
        font-size: 16px;
        user-select: none;
        display: none;
        padding: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 61px;
        padding-bottom: 9999px;
        flex-wrap: wrap;
        min-width: 320px;
        transform: translate3d(0, 0, 0);
        &.active {
          display: flex;
          animation: showMenu .4s forwards;
        }
        &.unactive {
          display: flex;
          animation: hideMenu .4s forwards;
          background-color: rgba(0, 0, 0, .75);
        }
        & > li {
          width: 100%;
          background-color: #fff;
          margin-right: 0;
          & > a {
            color: #000;
            padding: 10px 14px;
            padding-left: 40px;
            line-height: 2;
            height: auto;
            border-bottom: 1px solid #eee;
            &.active {
              background: #eee;
              color: #00043C;
            }
          }
        }
      }
      .iconfont {
        font-size: 16px;
        margin-right: px2rem(6px);
      }
    }
  }
}