.article-wrapper {
  max-width: 800px;
  margin: auto;
}
.article-wrapper img {
  width: 100%;
}

.article-wrapper code {
  max-width: 100%;
  overflow: auto;
  display: inline-block;
  vertical-align: middle;
}