@import '../../common/px2rem.scss';
$height: px2rem(180px);
.banner-wrap {
  .banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: $height;
    padding-top: 0;
    background-color: #ccc;
    background-attachment: scroll;
    background-image: url(http://images.lindongzhou.com/website/archives-banner.jpg);
    & > h1 {
      color: #fff;
      line-height: $height;
      font-size: px2rem(30px);
      text-align: center;
      user-select: none;
    }
  }
}