@import '../../common/px2rem.scss';
.article-wrapper {
  max-width: 768px;
  margin: auto;
  font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  padding: px2rem(15px);
  & > h1 {
    font-size: px2rem(16px);
    color: #444;
    margin-bottom: px2rem(6px);
    font-weight: 200;
  }
  .subtitle {
    font-size: px2rem(6px);
    .time {
      color: #aaa;
      margin-right: px2rem(5px);
    }
    .tags {
      a {
        color: #7594b3;
        transition: all 0.2s ease-out;
        margin-right: px2rem(4px);
        text-decoration: none;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: #45617d;
        }
      }
    }
  }
  .article {
    font-size: px2rem(8px);
    img {
      width: 100%;
    }
    code {
      max-width: 100%;
      overflow: auto;
      display: inline;
      vertical-align: middle;
    }
    ul li {
      list-style-type: disc;
    }
    ol li {
      list-style-type: decimal;
    }
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
    }
  }
  .pager {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: px2rem(10px);
    .placeholder {
      flex: 1;
    }
    .previous, .next {
      box-sizing: border-box;
      width: 48%;
    }
    .previous, .next {
      & > a {
        border: 1px solid #ddd;
        padding: px2rem(7px) px2rem(12px);
        display: block;
        color: #ccc;
        text-decoration: none;
        font-size: px2rem(6px);
        text-align: center;
        transition: all .4s;
        & > span {
          font-weight: 700;
          display: block;
          color: #404040;
          line-height: 18px;
          padding-bottom: px2rem(2px);
          font-size: px2rem(7px);
        }
      }
      &:hover {
        a {
          border: 1px solid #0085a1;
          background-color:#0085a1; 
          color: #fff;
          & > span {
            color: #fff;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .article-wrapper {
    & > h1 {
      // font-size: 20px;
    }
    .article {

    }
  }
}