.article-wrapper {
  max-width: 768px;
  margin: auto;
  font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  padding: 30px;
  & > h1 {
    font-size: 28px;
    color: #444;
    margin-bottom: 13px;
    font-weight: 200;
  }
  .subtitle {
    font-size: 12px;
    .time {
      color: #aaa;
      margin-right: 10px;
    }
    .tags {
      a {
        color: #7594b3;
        transition: all 0.2s ease-out;
        margin-right: 8px;
        text-decoration: none;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: #45617d;
        }
      }
    }
  }
  .article {
    img {
      width: 100%;
    }
    code {
      max-width: 100%;
      overflow: auto;
      display: inline;
      vertical-align: middle;
    }
    ul li {
      list-style-type: disc;
    }
    ol li {
      list-style-type: decimal;
    }
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .article-wrapper {
    padding: 20px;
    & > h1 {
      font-size: 20px;
    }
    .article {

    }
  }
}