@import '../../common/px2rem.scss';
.article-wrapper {
  max-width: 768px;
  margin: auto;
  padding: px2rem(15px);
  & > h1 {
    color: #444;
    font-weight: 200;
  }
  .subtitle {
    .iconfont {
      color: #aaa;
    }
    .time {
      color: #aaa;
    }
    .tags {
      & > a {
        color: #7594b3;
        transition: all 0.2s ease-out;
        text-decoration: none;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .article {
    img {
      width: 100%;
    }
    code {
      max-width: 100%;
      overflow: auto;
      display: inline;
      vertical-align: middle;
    }
    ul li {
      list-style-type: disc;
    }
    ol li {
      list-style-type: decimal;
    }
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
      margin-bottom: px2rem(8px);
    }
    blockquote, dl, ol, p, pre, table, ul {
      margin-bottom: px2rem(8px);
    }
  }
  .pager {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    .placeholder {
      flex: 1;
    }
    .previous, .next {
      box-sizing: border-box;
      width: 48%;
    }
    .previous, .next {
      & > a {
        border: 1px solid #ddd;
        display: block;
        color: #ccc;
        text-decoration: none;
        text-align: center;
        transition: all .4s;
        & > span {
          font-weight: 700;
          display: block;
          color: #404040;
          line-height: 1.5;
        }
      }
      &:hover {
        a {
          border: 1px solid #0085a1;
          background-color:#0085a1; 
          color: #fff;
          & > span {
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .article-wrapper {
    & > h1 {
      font-size: 32px;
      margin-bottom: 12px;
    }
    .subtitle {
      font-size: 14px;
      .iconfont {
        font-size: 14px;
        margin-right: 4px;
      }
      .time {
        margin-right: 5px;
      }
      .tags {
        & > a {
          margin-right: 6px;
          &:hover {
            color: #45617d;
          }
        }
      }
    }
    .article {
      font-size: 15px;
    }
    .pager {
      margin-top: 20px;
      .previous, .next {
        & > a {
          padding: 14px 24px;
          font-size: 12px;
          & > span {
            font-size: 14px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .article-wrapper {
    & > h1 {
      font-size: 30px;
      margin-bottom: px2rem(6px);
    }
    .subtitle {
      font-size: 14px;
      .iconfont {
        font-size: 14px;
        margin-right: px2rem(2px);
      }
      .time {
        margin-right: px2rem(3px);
      }
      .tags {
        & > a {
          margin-right: px2rem(3px);
        }
      }
    }
    .article {
      font-size: 15px;
    }
    .pager {
      margin-top: px2rem(10px);
      .previous, .next {
        & > a {
          padding: px2rem(7px) px2rem(12px);
          font-size: 12px;
          & > span {
            font-size: 14px;
            margin-bottom: px2rem(2px);
          }
        }
      }
    }
  }
}
