// .fade-enter {
//   opacity: 0;
// }

// .fade-enter.fade-enter-active {
//   opacity: 1;
//   transition: opacity 800ms ease-in;
// }

// .fade-exit {
//   opacity: 1;
// }

// .fade-exit.fade-exit-active {
//   opacity: 0;
//   transition: opacity 500ms ease-out;
// }
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.content {
  position: relative;
}
.content > * {
  position: absolute;
  background: #fff;
}
.body-wrap {
  padding-top: 61px;
  min-height: 100%;
  margin-bottom: -20px;
  box-sizing: border-box;
  .push {
    height: 20px;
  }
}