@import '../../common/px2rem.scss';
.comments-wrap {
  padding: 20px 12px 0;
  .no-posts {
    text-align: center;
    line-height: 100px;
    color: #2a2e2e;
    font-size: 24x;
  }
  .comment {
    margin: 0 12px 6px;
    border-bottom: 1px dashed #ddd;
    & > .title {
      display: flex;
      align-items: baseline;
      padding-top: 6px;
      .username {
        font-size: 16px;
        color: #288ce4;
        line-height: 18px;
        margin-right: 8px;
        font-weight: 500;
        margin-left: 4px;
        text-decoration: none;
        transition: .4s color;
        &.active {
          color: #FFA96A;
        }
        cursor: pointer;
        &:hover {
          color: #264E86;
        }
      }
      .time, .floor, .reply {
        font-size: 14px;
        color: #999;
      }
      .time {
        font-size: 12px;
      }
      .reply {
        transition: color .4s;
        cursor: pointer;
        &:hover {
          color: orange;
        }
      }
      .floor {
        margin-left: 8px;
        min-width: 28px;
      }
      .time {
        flex: 1;
      }
    }
    & > .content {
      padding: 14px 20px 20px;
      font-size: 14px;
      white-space: pre-line;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
  .subcomment {
    margin: 10px 30px;
    margin-right: 40px;
    background-color: #eee;
    margin-bottom: 0;
    & > .title {
      padding: 10px;
      font-size: 14px; 
      .username {
        color: #0074E4;
        text-decoration: none;
        &.active {
          color: #FFA96A;
        }
      }
    }
    & > .content {
      font-size: 12px;
      padding: 2px 16px 12px;
      white-space: pre-line;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
}

@media screen  and (max-width: 768px) {
  .comments-wrap {
    padding: px2rem(10px) px2rem(6px) 0;
    .no-posts {
      line-height: 80px;
    }
    .comment {
      margin: 0 px2rem(6px) px2rem(3px);

    }
  }
}
