@import '../../common/px2rem.scss';
.message-submit-wrap {
  margin: px2rem(10px);
  .comment-title {
    font-size: px2rem(9px);
    font-weight: 700;
    margin-bottom: px2rem(4px);
  }
  .replying {
    padding: px2rem(4px);
    font-size: px2rem(7px);
    color: #777;
    .username {
      color: black;
    }
    .cancel {
      color: #e54e53;
      font-size: 90%;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .annotation {
    font-size: px2rem(6px);
    color: #333;
    margin-bottom: px2rem(3px);
  }
  .required {
    color: red;
    vertical-align: px2rem(-2px);
    padding: px2rem(1px);
  }
  .message-item {
    padding: px2rem(4px);
    & > label {
      line-height: 18px;
      font-size: px2rem(7px);
      display: inline-block;
    }
    &.error {
      .ant-input {
        border-color: red;
        box-shadow: none;
      }
      span.error {
        font-size: px2rem(5px);
        color: red;
        line-height: 16px;
      }
    }
  }
}