@import '../../common/px2rem.scss';
$base: 16px;
$add: 16px;
.article-index {
  border: 1px solid #aaa;
  background-color: #edf6ff;
  width: auto;
  display: table;
  max-width: 300px;
  & > .title {
    text-align: center;
    font-weight: 500;
    & > span {
      font-weight: 400;
      font-size: 90%;
      & > a {
        color: #e54e53;
        text-decoration: none;
        text-shadow: none;
      }
    }
  }
  .article-index-main {
    display: none;
    &.active {
      display: block;
    }
    & > li {
      position: relative;
      & > a {
        text-decoration: none;
        color: #e54e53;
        display: block;
      }
    }
    @for $i from 2 through 5
    {
      .tag-h#{$i} {
        padding-left: $base + ($i - 2) * $add;
        &::after {
          content: '-';
          left: $base + ($i - 2) * $add - 6px;
          position: absolute;
          top: 2px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .article-index {
    padding: 10px;
    margin: 12px 6px;
    & > .title {
      font-size: 16px;
    }
    .article-index-main {
      margin-top: 10px;
      font-size: 14px;
      & > li {
        & > a {
          padding: 4px 6px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .article-index {
    padding: px2rem(5px);
    margin: px2rem(6px) px2rem(3px);
    & > .title {
      font-size: 15px;
    }
    .article-index-main {
      margin-top: px2rem(5px);
      font-size: 13px;
      & > li {
        & > a {
          padding: 4px 6px;
        }
      }
    }
  }
}