@import '../../common/px2rem.scss';
$base: 18px;
$add: 20px;
.article-index {
  border: 1px solid #aaa;
  background-color: #edf6ff;
  width: auto;
  display: table;
  padding: px2rem(5px);
  max-width: 768px;
  margin: px2rem(6px) px2rem(3px);
  & > .title {
    text-align: center;
    font-weight: 500;
    font-size: px2rem(7px);
    & > span {
      font-weight: 400;
      font-size: 90%;
      & > a {
        color: #e54e53;
        text-decoration: none;
        text-shadow: none;
      }
    }
  }
  .article-index-main {
    display: none;
    margin-top: px2rem(5px);
    font-size: px2rem(7px);
    &.active {
      display: block;
    }
    & > li {
      position: relative;
      & > a {
        text-decoration: none;
        color: #e54e53;
        display: block;
        font-size: px2rem(6px);
        padding: px2rem(2px) px2rem(3px);
      }
    }
    @for $i from 2 through 5
    {
      .tag-h#{$i} {
        padding-left: px2rem(($base + ($i - 2) * $add) / 2);
        &::after {
          content: '-';
          left: px2rem(($base + ($i - 2) * $add - 6px) / 2);
          position: absolute;
          top: px2rem(1px);
        }
      }
    }
  }
}